/*======================================================================
=            Includes Commonly Required By Other Sass Files            =
======================================================================*/

/**

	- The files contained herein are files required by other .scss
	  files to function properly.
	- Removal of files from this list could result in catastrophic
	  failures across the site. Edit with caution!
	- While these files may already be included in the global.scss file,
	  their inclusion here is not redundant and likely required for
	  certain pages to access certain variables and generally function
	  as intended.

**/

// base
@import '_common/_variables.scss';

// mixins
@import '_common/_mixins.scss';

// functions
@import '_common/_functions.scss';
