////
/// Mixins to Aid in Text Manipulation
////


/// Maps Type Settings defined as a function of
///	Type Size and Line Height to create a pleasant
/// vertical rhythm.
$type-settings: (
  -5: (
    font-size: $type-size-micro,
    line-height: $base-line-height
  ),
  -4: (
    font-size: $type-size-smallest,
    line-height: $base-line-height
  ),
  -3: (
    font-size: $type-size-smaller,
    line-height: $base-line-height * 0.75
  ),
  -2: (
    font-size: $type-size-small,
    line-height: $base-line-height
  ),
  -1: (
    font-size: $type-size-medium,
    line-height: $base-line-height
  ),
  0: (
    font-size: $type-size-base,
    line-height: $base-line-height
  ),
  1: (
    font-size: $type-size-large,
    line-height: $base-line-height * 0.917
  ),
  2: (
    font-size: $type-size-larger,
    line-height: $base-line-height * 1.2
  ),
  3: (
  	font-size: $type-size-largest,
  	line-height: $base-line-height * 1.3
  ),
  4: (
  	font-size: $type-size-huge,
  	line-height: $base-line-height * 1.4584
  ),
  5: (
  	font-size: $type-size-grand,
  	line-height: $base-line-height * 1.8334
  ),
  6: (
    font-size: $type-size-massive,
    line-height: $base-line-height * 1.95
  ),
  7: (
    font-size: $type-size-super-massive,
    line-height: $base-line-height * 2.0834
  )
);


///	- Truncates text automatically.
///	- Requires the element to be block or inline-block
/// @example .text { @include text-truncate; }
@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/// Use for adjusting type weight based on size.
/// @example @include type-size($type-size-large);
@mixin type-size($type-size) {
	font-size: $type-size;
	@if ($type-size > 1.2) {
		font-weight: 100;
	}
}


@function type-scale($level) {
  @return map-get(
    map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(
    map-get($type-settings, $level), 'line-height');
}

/// Chooses from a predefined list of typesets defined
/// by the $type-settings map. Establishes a pleasant
/// vertical rhythm by adjusting line height based on font size.
/// @example @include type-setting(-2);
/// @arg {number} $level - The typeset level to use. Numbers correspond to the $type-settings map, currently ranging from -5 to 5.
@mixin type-setting($level) {
  font-size: type-scale($level);
  line-height: line-height($level);
}